body{

    background-color: darkgray;
    color:black;
}

h2{
    margin-bottom:15px;
    width:240px;
    background-color: cadetblue;
    margin-left:550px;
}
h3{

    background-color: cadetblue;
    text-align:center;
    margin-top:250px;
    color:darkblue;
    border-radius:10px;
    width:auto;
}
#con{

    font-size:30px;
    color:firebrick;
}

*{
    font-size:15px;
    color:black;
}

input[type="text"]{
    border:4px solid cadetblue;
}

input[type="number"]{
    border:4px solid cadetblue;
    height:35px;
}

.form-group{
    margin-bottom:20px;
}

input[type="button"]{

    margin-left:500px;
    width:100px;
    height:50px;
    border:2px solid darkgray;
    border-radius:20px;
}

#but1{

    margin-left:360px;
    width:100px;
    height:50px;
    border:2px solid darkgray;
    border-radius:20px;
}

#but2{

    margin-left:140px;
    border:2px solid darkgray;
    width:100px;
    height:50px;
    border-radius:20px;
}

#h2{

    margin-left:395px;
    margin-top:200px;
    width:700px;
    height:50px;
    background-color:transparent;
    color:brown;
    text-align: match-parent;

}
